.saveProcess {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(37, 35, 35, 0.94);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .spinner {
    border: dashed 10px white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }

  .confirmationStatus {
    background: rgba(0, 0, 0, 0.892);
    border-radius: 5px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    &_wrapper {
      width: 100%;
      background: rgb(48, 184, 199);
      position: relative;
      h4 {
        color: white;
        display: block;
        padding: 0 20px;
        font-size: 30px;
      }
      table {
        width: 90%;
        margin: 20px;
        tr,
        td {
          border: solid 0.5px lightgray;
          padding: 2px 5px;
          color: #606060;
        }
        thead,
        tfoot {
          background: #d4d4d4;
        }
      }
      &_closeBTN {
        position: absolute;
        border: none;
        line-height: 9px;
        width: 59px;
        border-radius: 61px;
        top: -23px;
        left: 92%;
        font-size: 47px;
        transform: rotate(45deg);
        height: 59px;
        display: block;
        text-align: center;
        background: #19a591;
        color: white;
        font-weight: 800;
        cursor: pointer;
      }
    }
  }
  .errorSignal{
    padding: 10px;
    background: rgba(0, 0, 0, 0.769);
    border-radius: 5px;
    &_wrapper{
      padding: 30px 0;
      position: relative;
    }
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media(max-width:650px){
  .saveProcess {
  .confirmationStatus { 
    width: 95%; 
    padding: 5px;
    &_wrapper {
      width: 100%;
      background: rgb(48, 184, 199);
      position: relative;
      h4 { 
        font-size: 20px;
      }
      table {
        width: 92%;
        margin: 20px;
         font-size:.8em;
      }
      &_closeBTN { 
        height: 36px;
        width: 39px;  
      }
    }
  }
}
}
 