@import "../../GeneralStyle/General.scss";
.main {
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/getMoney.jpeg');
    background-size:cover; 
    &_sides{
      display: flex;
      flex-wrap: wrap;
      &_left{
        display: flex;
        align-items: center;
        width: 50%; 
        height: 100vh;
        h1{
          font-family:   Georgia, Times, 'Times New Roman', serif;
          font-size: 5em;
          display: block;
          padding: 0 10%;
          color: white;
          line-height: 70px;
        }
      }
      &_right{
        width: 50%;
        display: flex;
        padding: 0 7%;
        justify-content: center;
        align-items: center;
        &-form{
          background: rgba(0, 0, 0, 0.352);
          border-radius: 5px;
          padding: 1em;
          h2{
            font-family:   Georgia, Times, 'Times New Roman', serif;
          color: white; 
          font-size: 2.2em;
          }
          &_inner{
            background: rgb(48, 184, 199);
            padding: 30px;
            margin-top: 10px;
            div{
              display: flex;
              flex-direction: column;
              margin-bottom: 6px;
              span{
                color: white;
              }
              input{
                border: none;
                height: 30px;
                border-radius: 3px;
              }
            }
            &_aceptar{
              display: flex;
              flex-direction: row!important;
              align-items: center;
              input{
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
  @media(max-width:900px){
    .main {
      &_sides{ 
  
        &_left{
          display: flex;
          align-items: center;
          width: 40%; 
          height: 100vh;
          h1{
          
            font-size: 3em; 
            line-height: 40px;
          }
        }
        &_right{
          width: 60%; 
          padding: 0 1%; 
          &-form{ 
            padding: 1em;
            h2{ 
            font-size: 1.8em;
            }
            &_inner{ 
              padding: 20px; 
              div{ 
                margin-bottom: 6px;
                span{
                  color: white;
                }
                input{
                  border: none;
                  height: 30px;
                  border-radius: 3px;
                }
              }
              &_aceptar{
                display: flex;
                flex-direction: row!important;
                align-items: center;
                input{
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
  }
}

@media(max-width:650px){
  .main {
    &_sides{ 
      flex-direction: column;
      &_left{ 
        width: 100%;  
        height: unset;
        h1{ 
          font-size: 3em; 
          line-height: 40px;
        }
      }
      &_right{
        width: 100%; 
        padding: 0 1%; 
        &-form{ 
          padding: 1em;
          h2{ 
          font-size: 1.8em;
          }
          &_inner{ 
            padding: 20px; 
            div{ 
              margin-bottom: 6px;
              span{
                color: white;
              }
              input{
                border: none;
                height: 30px;
                border-radius: 3px;
              }
            }
            &_aceptar{
              display: flex;
              flex-direction: row!important;
              align-items: center;
              input{
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
}
}
  