@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

body { 
  margin: 0;
  background-color: #ffffff;
}
  
h2 {  
  margin: 0;
}

 